@import '~common/stylus/variable.styl'
.singer-list
   padding:15px 0
  .list-item
    .title
      font-size:$font-size-medium;
      background:$color-dialog-background;
      color:$color-theme;
      text-align:left;
      padding:5px 10px;
    .singer-list-type
      .singer-item
        padding:5px 10px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .singer-pic
          width:80px;
          height:80px;
          img
            width:100%
        .singer-info{
          width:80%;
          text-align:left;
          text-indent:10px;
          font-size:$font-size-medium-s;
          color:$color-text-ll;
          }