@import 'variable.styl'

body,html{
  list-style 1
  font-family:'PingFang SC','STHeitiSC-Light','Helvetica-Light',Arial, sans-serif
  user-select none
  -webkit-tap-highlight-color: transparent
  background:$color-background
}