@import '~common/stylus/variable.styl'
.recommend-list{
  padding-top:10px;
  .list-title{
    font-size:$font-size-medium;
    text-align:center;
    color:orange;
    }
    ul{
      padding:15px;
      li{
        display: flex;
        justify-content: space-between
        padding:10px 0;
        .text{
          width:80%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align:left;
          margin-left:15px;
          .name{
            font-size:$font-size-medium
            color:$color-text-ll;
            margin-bottom:15px;
            }
          .disname{
            font-size:$font-size-small
            color:$color-text-ll;
            }
          }
      }
    }
}